    /* Fila seleccionada */
#listaRenombrada .active {
  background-color: #CFF4FC;  /* azul suave */
  color: #000;                 /* texto negro */
  border: 1px solid #9EEAF9;   /* borde azul clarito */
  border-radius: .5rem;        /* esquinas redondeadas */
  overflow: hidden;            /* respeta el redondeo */
}

/* Asegura texto negro en elementos internos */
#listaRenombrada .active .fw-bold,
#listaRenombrada .active .form-control,
#listaRenombrada .active .form-control::placeholder {
  color: #000;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Apple Color Emoji",
               "Segoe UI Emoji";
}

.preview-btn {
  display: none;
}


html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; /* empuja el footer al final */
}
    /*MODO OBSCURO*/
    body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .list-group-item {
  background-color: #1e1e1e;
  border-color: #333;
  color: #f1f1f1;
}

body.dark-mode .bg-light {
  background-color: #1e1e1e !important;
}

body.dark-mode .text-muted {
  color: #bbb !important;
}

/* Aplica transición a los elementos principales */
body,
.card,
.list-group-item,
.viewer-panel,
.viewer-header,
.viewer-title,
footer {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}



#output {
  white-space: pre-line;
}